@import '_mixins';
@import '_animations';

/* Main Style */
$screen-width-small: 740px;

:root {
    --secondary: #93DFAF;
    --secondary-alpha: #93DFAF40;
    --success: #50B97E;
    --success-alpha: #50B97E40;
    --info: #7571C1;
    --info-alpha: #7571C140;
    --warning: #F37E2B;
    --warning-alpha: #F37E2B40;
    --danger: #FF4747;
    --danger-alpha: #FF474740;
    --light: #FFFFFF;
    --dark: #000000;
    --white: #FFFFFF;
    --black: #000000;

    --margin-side: 10px;
    --font-size-default: 1.1rem;
    --font-size-large: 1.2rem;
    --font-size-small: 0.9rem;
}

body {
    margin: 0;
}

#app > div {
    width: 100%;
    background-color: var(--main-bg);
    @include radialGradient(var(--light-bg), var(--main-bg));

    color: var(--main-color);
    text-align: center;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    height: auto;
    padding: 20px var(--margin-side) 10px var(--margin-side);
    box-sizing: border-box;
    font-size: var(--font-size-default);

    h1 {
        color: var(--primary);
    }

    form {
        text-align: justify;
    }
    label {
        font-size: var(--font-size-large);
    }

    .help {
        font-size: var(--font-size-small);
        font-style: italic;
        text-align: justify;
    }

    .selection {
        margin-bottom: 20px;
    }

    .settings-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media (width < $screen-width-small) {
        .settings-container {
            grid-template-columns: 1fr;
        }
    }

    .message-container {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        z-index: 10;

        .alert {
            margin-right: var(--margin-side);
            margin-left: var(--margin-side);
        }
    }

    .page-reader {
        width: 100%;
        height: 100%;
        img {
            display: block;
            width: 100%;
            height: auto;
        }
        .page-controller {
            position: relative;
            height: 40px;
            .page-controller-zone {
                position: absolute;
                bottom: 0;
                width: 100px;
                height: 40px;
                color: var(--black);
                display: flex;
                align-items: center;
                justify-content: center;
                &.left-zone {
                    background-color: var(--secondary);
                    left: 0;
                }
                &.right-zone {
                    background-color: var(--secondary);
                    right: 0;
                }
            }
            .info-zone {
                height: 40px;
                line-height: 15px;
                .helper {
                    font-size: x-small;
                }
            }
        }
    }


    @import 'nav';
    @import 'button';
    @import 'alert';
    @import 'select';


    .enhancedToggle {
        margin: auto;
        &.enhancedCheck-dmbon .enhancedToggle-label {
            background-color: var(--secondary);
        }
        &.enhancedCheck-dmboff .enhancedToggle-label {
            background-color: transparent;
        }
        &.enhancedCheck-dmblight .enhancedToggle-label {
            background-color: var(--white);
            color: var(--black)
        }
        &.enhancedCheck-dmbdark .enhancedToggle-label {
            background-color: var(--black);
            color: var(--white)
        }
    }

}
