nav {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;

  >.nav-item {
    display: inline;
    &:not(:last-child) {
      margin-right: 15px;
    }
    &:nth-child(1) {
      justify-self: start;
      margin-left: var(--margin-side);
      background: url('@/assets/img/cogs-blue.svg') no-repeat center / 3rem;
    }
    &:nth-child(2) {
      justify-self: center;
      background: url('@/assets/img/book-blue.svg') no-repeat center / 3rem;
    }
    &:nth-child(3) {
      justify-self: end;
      margin-right: var(--margin-side);
      a {
        background: url('@/assets/img/serene_light_logo_80.png') no-repeat center;
        width: 80px;
        height: 80px;
        line-height: 75px;
      }
    }
  }

  a {
    display: inline-block;
    text-indent: -9999px;
    width: 80px;
    height: 50px;
    border-radius: 75px;
    line-height: 57px;
    border: 5px solid var(--secondary);
    &:hover, &:active {
      border-color: var(--primary);
    }
    &:focus {
      border-color: var(--primary);
    }
    &.router-link-exact-active {
      border-color: var(--primary);
    }

  }

  &.menu-dark {
    >.nav-item {
      &:nth-child(1) {
        background: url('@/assets/img/cogs-yellow.svg') no-repeat center / 3rem;
      }
      &:nth-child(2) {
        background: url('@/assets/img/book-yellow.svg') no-repeat center / 3rem;
      }
      &:nth-child(3) {
        a {
          background: url('@/assets/img/elegant_dark_logo_80.png') no-repeat center;
        }
      }
    }
  }

}

.content {
  margin-top: 80px;
}
